In [1]:
import pandas as pd

Duplicate key in file '/Users/sharan/.matplotlib/matplotlibrc' line #39.

In [4]:
df = pd.read_csv("./archive/utterances.csv")

In [5]:
df.head()

,episode,episode_order,speaker,utterance
0,57264,9,"Ms. LOREN MOONEY (Editor-in-Chief, Bicycling M...","It's a 2,200-mile race. To give some sense of ..."
1,57264,10,"Ms. LOREN MOONEY (Editor-in-Chief, Bicycling M...",So for a top competitor like Lance to try to m...
2,57264,11,"NEAL CONAN, host","So in every team, presumably there's one star,..."
3,57264,12,"Ms. LOREN MOONEY (Editor-in-Chief, Bicycling M...",That's right. Each team has nine riders. And w...
4,57264,13,"NEAL CONAN, host","So slipstream, this is like drafting in car ra..."

In [6]:
len(df)

3199858

In [7]:
df.columns

Index(['episode', 'episode_order', 'speaker', 'utterance'], dtype='object')

In [9]:
df.utterance[0]

"It's a 2,200-mile race. To give some sense of perspective, that's roughly the distance between Washington, D.C. and Las Vegas. They do it over the course of three weeks at very fast speeds. But incredibly, oftentimes the distance between first and second is somewhere between and one and three minutes."

Okay so, initial look at this data makes me believe that we're going to need to combine the utterances to create episode long transcripts... that shouldn't be too hard, just a concatenation after a sort via episode and then episode order...

In [13]:
len(df.episode.unique())

104920

Looking at the other dataset...